{% load static %}
<div class="h-full w-full relative [&>div]:absolute [&>div]:w-full [&>div]:h-full">
  <div class="bg-black"></div>
  <div>
    <img src="{% if data.image_url %}{{ data.image_url }}{% else %}{% static "img/glenn_tommel_opp.jpg" %}{% endif %}" class="min-w-full min-h-full object-cover" style="opacity:{% if data.opacity %}{{ data.opacity }}{% else %}50{% endif %}%">
  </div>
  <div class="px-28 py-24">
    <h1 class="text-9xl pb-8">
      {% if data.title %}
        {{ data.title }}
      {% else %}
        {% lorem 2 w random %}
      {% endif %}
    </h1>
    <p class="text-7xl">
      {% if data.body %}
        {{ data.body }}
      {% else %}
        {% lorem 40 w random %}
      {% endif %}
    </p>
  </div>
</div>
